.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:blue;
    color: white;
  }
  
  .header .logo {
    font-size: 1.5em;
    
  }
  
  .header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .header nav ul li a {
    text-decoration: none;
    color: white;
  }
  