.container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .scanner-container {
    flex: 1;
    margin-right: 70px;
  }
  
  .details-container {
    flex: 2;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .qrcode-reader {
    margin-bottom: 20px;
  }
  
  .account {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .books-taken {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .books-list {
    list-style-type: none;
    padding: 0;
  }
  
  .book-item {
    font-size: 16px;
    margin-bottom: 5px;
  }
  