h3{
  text-align: center;
}
.user-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tab1{ border-collapse: collapse; /* Merge cell borders */
  width: 50%;
  margin:0 auto;}
.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .user-card h2,.user-card h3, .user-card p {
    text-align: center;
  }
  table th, table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }
  table th {
    background-color: #f2f2f2;
  }
  table tr:hover {
    background-color: #e6e6e6;
  }
  