.user-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
}

  
  .user-card h2,.user-card h3, .user-card p {
    text-align: center;
  }
  
  .user-card table {
    width: flex;
    margin-top: 15px;
  }
  
  th{
    text-align: center;
    padding: 7px;
    
  }
  
   td {
    text-align: center;
    padding: 7px;
    
  }