.user-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add your QR code styling here */
}

  
  .user-card h2, .user-card p {
    text-align: center;
  }
  
  .user-card table {
    width: 100%;
    margin-top: 15px;
  }
  
  .user-card th, .user-card td {
    text-align: left;
    padding: 5px;
  }
  